<!--==========================
    Footer
  ============================-->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="ion-ios-arrow-right"></i> <a href="#intro">Home</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a href="about.html">About us</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a href="service.html">Services</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a href="term.html">Terms of service</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-contact">
          <h4>Contact Us</h4>
          <address>
            "MAYUR" # 249,14<sup>th</sup> Main road, <br>
            21 Cross, HSR Layout, 7<sup>th</sup>Sector, <br>
            Bangalore-560102.<br>
            <strong>Phone:</strong> 080-416767700<br>
            <strong>Phone:</strong> 080-25721255<br>
            <strong>Email:</strong> advocatessk@gmail.com<br>
            <strong>web:</strong> www.advocateselvakumar<br>
          </address>
        </div>
        <div class="col-lg-3 col-md-6 footer-contact">
          <h4>Head Office</h4>
          <p>
            # 22,4<sup>th</sup> 'C' Cross Ind.Layout<br>
            5<sup>th</sup>Block,Koramangala,<br>
            Bangalore-560102.<br>
            <strong>Phone:</strong> 080-25530200<br>
            <strong>Phone:</strong> 080-25526644<br>

          </p>

        </div>

        <div class="col-lg-3 col-md-6 footer-newsletter">
          <h4>social-links</h4>
          <p>We Always Connect With You just click the links</p>
          <div class="social-links">
            <a href="https://twitter.com/advocatesselvak" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="https://www.facebook.com/pages/Advocateselvakumarcom/224699031038690?ref=hl" class="facebook"><i
                class="fa fa-facebook"></i></a>
            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
            <a href="https://plus.google.com/u/0/104507903463277851720/posts" class="google-plus"><i class="fa fa-google-plus"></i></a>
            <a href="https://www.linkedin.com/in/advocateselvakumar/" class="linkedin"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong>Selvakumar Associates</strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <strong>ProInfo Systems</strong>
    </div>
  </div>
</footer><!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>