<section id="about" class="wow fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 about-img">
        <img src="../assets/img/bg_1.png" alt="">
      </div>

      <div class="col-lg-8 content">
        <div class="section-header">
          <h2>Profile</h2>
          <div class="tabcontent">
            <p>Sri. Selvakumar is one of the most sought-after Advocates in matters dealing with Property transactions
              and his Opinions carry a special weightage with the general public, banks and builders.He also handles
              various civil matters in all kinds of Tribunals like City Civil Courts, High Courts, Debt Recovery
              Tribunals etc.
            </p><br>
            <p>Sri S. Selvakumar, M.A., LL.M., MBA, is one of the leading Advocates in Bangalore and he has been
              rendering
              useful legal services to the public since 1984 by enlightening them about the intricacies involved in
              property transactions. An expert in Property and Banking Laws and other legal areas which include civil,
              criminal, service matters, corporate matters etc. he has been creating awareness among the public about
              property dealings and other legal aspects through his informative Articles which have been published in
              leading newspapers, interviews in T.V Channels, the monthly magazine “Real Estate Reporter”, in addition
              to
              providing acceptable legal solutions to the problems of his clients. </p>

          </div>
        </div>
      </div>
      <div class="col-lg-6 content"><br><br>
        <ul>
          <h6>
            <li><i class="ion-android-checkmark-circle"></i><b> SRI S. SELVAKUMAR,M.A., LL.M., MBA,</b></li>
          </h6>
        </ul>
        <div class="tabcontent">
          <p>Sri S. Selvakumar,M.A., LL.M., MBA, is one of the leading Advocates in Bangalore and he has been
            rendering
            useful legal services to the public since 1984 by enlightening them about the intricacies involved in
            property transactions to save them from the clutches of unhealthy elements. He is an expert in Property
            and
            Banking Laws and other legal areas which include civil, criminal, service matters, corporate matters etc.</p>
          <p>He has been creating awareness among the public about property dealings and other legal aspects through
            his informative Articles which have been published in leading newspapers, through interviews in T.V
            Channels, through the monthly magazine known as Real Estate Reporter, by publicising latest property
            market rates in newspapers and by providing acceptable legal solutions to the problems of his clients.
          </p>

          <p> Sri. Selvakumar is one of the most sought-after Advocates in matters dealing with Property transactions
            and his Opinions carry a special weightage with the general public, banks and builders. He skillfully
            handles his clientele by using the most appropriate techniques and scrutinizes the documents meticulously
            in a scientific manner, prepares the Scrutiny Reports, Conveyance Deeds and related Documents with utmost
            perfection. He also handles various civil matters in all kinds of Tribunals like City Civil Courts, High
            Courts, Debt Recovery Tribunals etc.</p>
        </div>


      </div>
      <div class="col-lg-6 content"><br><br>

        <ul>
          <h6>
            <li><i class="ion-android-checkmark-circle"></i><b>ACADEMICS</b></li>
          </h6>
        </ul>
        <div class="tabcontent">
          <p> Sri Selvakumar, apart from being an Expert Advocate, has acquired many more degrees from various
            Universities.
            It was his interest in education. The degrees that he has deserved from different universities are given
            below:</p>
          <li> B.A. from Madras University</li>
          <li>M.A. from Madras University</li>
          <li> BGL from Bangalore University</li>
          <li>LL.B from Bangalore University</li>
          <li> LL.M from Bangalore University</li>
          <li> MBA from Madras University</li>
          <br><br>
        </div>
        <div>
          <ul>
            <h6>
              <li><i class="ion-android-checkmark-circle"></i><b> COLUMNIST IN DAILIES:</b></li>
            </h6>
          </ul>
          <div class="tabcontent">
            <p>Sri Selvakumar has been writing Articles as a Regular Columnist to various leading daily newspapers in
              circulation in Bangalore on topics of Public interest concerning Property documentation and other legal
              topics,in a simple and educative manner.</p>
            <p> The daily newspapers which have utilized the services of Sri Selvakumar include Deccan Herald, Indian
              Express,Times of India, Financial Express, Economic Times.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 content"><br><br>
        <ul>
          <h6>
            <li><i class="ion-android-checkmark-circle"></i><b>EDITOR</b></li>
          </h6>
        </ul>
        <div class="tabcontent">

          <p> Sri Selvakumar is the Editor of Real Estate Reporter, the monthly Magazine which has been the pioneer in
            Property magazines, and has been highlighting the developments that are taking place in the Country in
            Banking and Real Estate Sectors and the Problems that are encountered by the public, through vivid
            articles.
          </p>
          <p>The magazine has been in circulation for over a decade and the articles published in it are very
            useful to the people at large.</p>
        </div>
      </div>
      <div class="col-lg-6 content"><br><br>
        <ul>
          <h6>
            <li><i class="ion-android-checkmark-circle"></i><b> INTERVIEWS</b></li>
          </h6>
        </ul>

        <div class="tabcontent">
          <p> Sri Selvakumar is the most sought after person by the media i.e. the newspapers and television in which
            he is
            interviewed very often and more so when any property related issues or sensational changes happen.
          </p>
          <br>
        </div>
        <ul>
          <h6>
            <li><i class="ion-android-checkmark-circle"></i><b>SERVICES TO PROPERTY DEVELOPERS AND BUILDERS</b></li>
          </h6>
        </ul>
        <div class="tabcontent">

          <p> Sri Selvakumar is the First Choice Advocate to various renowned Property Developers and Builders because
            of
            his rich and varied experience coupled with Masterly knowledge on Property Law. more</p>
        </div>
      </div>
    </div>
  </div>


</section><!-- #about -->