<!--==========================
      Contact Section
    ============================-->
<section id="contact" class="wow fadeInUp">
  <div class="container">
    <div class="section-header">
      <h2>Contact Us</h2>
      <p class="text-center">If you have any questions or concerns, we would appreciate the opportunity to hearfrom
        you.Please call or fill
        out the form below and we will reach out to you!</p>
    </div>

    <div class="row contact-info">

      <div class="col-md-4">
        <div class="contact-address">
          <i class="ion-ios-location-outline"></i>
          <h3>Address</h3>
          <address>"MAYUR" # 249,14<sup>th</sup>Main road, 21 Cross, HSR Layout,7<sup>th</sup>Sector,
            Bangalore-560102.</address>
        </div>
      </div>

      <div class="col-md-4">
        <div class="contact-phone">
          <i class="ion-ios-telephone-outline"></i>
          <h3>Phone Number</h3>
          <p>080-41676700</p>
          <p>080-25721255</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="contact-email">
          <i class="ion-ios-email-outline"></i>
          <h3>Email</h3>
          <p><a href="mailto:advocatessk@gmail.com">advocatessk@gmail.com</a></p>
        </div>
      </div>

    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-6">
        <iframe width="500" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=advocate%20s.selvakumar&t=&z=13&ie=UTF8&iwloc=&output=embed"
          frameborder="0" scrolling="yes" marginheight="0" marginwidth="0"></iframe>
      </div>
      <div class="col-md-6 col-lg-6">
        <div class="form">
          <div id="sendmessage">Your message has been sent. Thank you!</div>
          <div id="errormessage"></div>
          <form action="" method="post" role="form" class="contactForm">
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4"
                  data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group col-md-6">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email"
                  data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4"
                data-msg="Please enter at least 8 chars of subject" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us"
                placeholder="Message"></textarea>
              <div class="validation"></div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section><!-- #contact -->