<section id="sevice">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-lg-3">
        <div class="tab">
          <button class=" buttontab" href="realEstate">Real Estate /
            Property Matters</button>
          <button class=" buttontab">Banking and Finance</button>
          <button class=" buttontab">Intellectual Property Law</button>
          <button class=" buttontab"> Corporate & CommercialMatters</button>
          <button class=" buttontab"><a href="#crime"> Criminal Matters</a></button>
          <button class=" buttontab">Scrutiny of Documents</button>
          <button class=" buttontab">Labour, Industrial And Service Laws</button>
          <button class=" buttontab">Legal Documentations</button>
          <button class=" buttontab">We advise on</button>
        </div>
      </div>
      <div class="col-md-9 col-lg-9">
        <div class="tabcontent">
          <h6><b>Real Estate / Property Matters</b></h6>
          <hr>
          <p>The Real Estate team of Universal Legal consists of specialist lawyers advising on structuring,
            negotiating, documenting and executing real estate transactions. Members of our team have assisted
            developers, landowners, corporations and private clients in connection with acquiring, selling, leasing
            and licensing Industrial, commercial and residential property.</p>
          <div>More specifically our areas of practice include:</div>
          <br>
          <ul style="padding-left:10%;">
            <li>Acquisition, sale and disposal of property, whether carried out individually or through real estate
              companies and/or funds</li>
            <li>Real estate funds</li>
            <li>Construction, development and re-development projects</li>
            <li>Project finance</li>
            <li>Special Economic Zones</li>
            <li>Specialized contracts, commercial or hotel related projects</li>
            <li>Leases, licenses, agency, property and facility management</li>
            <li>Business conducting and revenue sharing arrangements</li>
            <li>Due diligence and title certification</li>
          </ul>
        </div>

        <div id="Tokyo" class="tabcontent">
          <h6><b>Banking and Finance</b></h6>
          <hr>
          <div>
            <p> Banking and restructuring have been core practice areas of our Legal Firm's High Court Advocate and
              Supreme Court Advocate. The High Court Advocate and Supreme Court Advocate in our Legal Firm provide
              legal advice & legal services in India for Debt Recovery Tribunal, Credit Debt, Debt Management, Debt
              Relief, Debt Advice, Debt Solution, Debt Settlement, Bad Debt, Debt Consolidation, Debt Recovery, Debt
              Collection, India Debt, Debt Equity, Debt Ratio, Debt Market, Debt fund, OTS: One Time Settlement &
              NPA:
              Non-Performing Assets</p>
            <p>The High Court Advocate and Supreme Court Advocate in our Legal Firm advice clients on drafting of
              various banking documents and provide legal opinions on various law related matters and represent them
              in the courts of Delhi, Mumbai, Guwahati and Bangalore.</p>
            <p>Banking Law covers a wide variety of topics relating to the regulation of banks, bank officials, and
              non-bank institutions that offer bank services. It involves such issues as deposit and trust accounts,
              state laws that protect consumers financially, the prohibition against discrimination in the allocation
              of credit, electronic banking and fund transfer systems, limitations on the disclosure of confidential
              financial information, and credit card agreements and services.</p>
          </div>
        </div>
        <div class="tabcontent">
          <h6><b>Intellectual Property Law</b></h6>
          <hr>
          <p>The Intellectual Property, Communications and Technology team at Universal Legal have advised both
            national
            and international clients in identifying, protecting and enforcing their Intellectual Property (IP) and
            Information Technology (IT) works.</p>

          <p>Our IP practice is broad ranging, from all aspects of patent, trademark, and copyright law and related
            aspects of IP law. Members of the team undertake full range of IP services including procedural filings,
            registrations, searches, inspection, protection & enforcement, negotiations, licensing, assignments,
            franchising, advise and representation in all types of IP claims, disputes and litigation.</p>
        </div>

        <div class="tabcontent">
          <h6><b> Corporate & CommercialMatters</b></h6>
          <hr>

          <p>The Corporate & Commercial team of Universal Legal has advised on a number of diverse transactions.
            Members of our team have acted on behalf of venture capitalists, private equity funds, banks, financial
            institutions, acquirers and sellers in transactions.
          </p>
          <p> We have provided on-going support to our clients at all stages of a company's activities from
            incorporation, business development and restructuring. Further, we have also represented clients in
            structuring, drafting, negotiating and finalizing of transaction documentation.
          </p>
        </div>
        <div class="tabcontent">
          <h6><b> Criminal Matters</b></h6>
          <hr>
          <p> Criminal cases relating to Customs, Central Excise prosecutions, Prevention of Corruption Act, white
            collared economic offences including the offences against the State such as defined in Indian Penal Code.
            Negotiable Instruments Act, Private Complaints like Domestic Violence Act, Women Harassment Act,
            Defamation Cases etc.,
          </p>
          <p> We are also specialized in obtaining Bail and Anticipatry Bail and appearance before the Magistrate
            Court till Supreme Court for defending the interest of litigant. We are also conducting the criminal
            trial and quash petitions and appeals before the appellate courts
          </p>
          <ul style="padding-left:10%;">
            <li> NRI matters </li>
            <li>Foreign Direct Investment </li>
            <li>Company law</li>
            <li>NRI Provisions:</li>
            <li>Joint Ventures:</li><br>
          </ul>
          <p> An agreement between two companies from different countries or two countries for mutual help is known
            as Joint venture. Joint Venture is an agreement for mutual help and benefit. It is a type of partnership
            between countries at international level. Joint means together and venture means project.
          </p>
          <ul style="padding-left:10%;">
            <li> Match Making</li>
            <li>Joint Venture Options & Planning</li>
            <li>Drafting Joint Venture</li>
            <li> Contracts & Agreements</li>
            <li>Incorporating company, subsidiary, or joint venture</li>
            <li>Corporate Structuring & Tax planning</li>
            <li> Cultural Training</li>
            <li> Employee Agreements & Policies</li>
            <li>All other requirements in Outsourcing</li>
          </ul>
        </div>

        <div class="tabcontent">
          <h6><b> Scrutiny of Documents</b></h6>
          <hr>
          <p> Initial steps towards property purchase , Scrutiny of title deeds of the property is the first and
            foremost
            exercise the purchaser's advocate has to undertake before entering into an agreement with the seller.
          </p>
          <p> A clean and marketable title, free from all doubts and encumbrances vested with physical possession, is
            very important. The ownership of the titleholder can be traced from the title deeds and revenue records.
          </p>
        </div>
        <div class="tabcontent">
          <h6><b>Labour, Industrial And Service Laws</b></h6>
          <hr>
          <p> Labour-Management disputes, Industrial unrest, employment and service contracts, appointment, service
            conditions of the labour, Payment of minimum wages, Bonus, Pension, Gratuity, and medical allowances,
            Payment of compensation to the workmen who suffered during the course of employment, Disciplinary
            actions,
            conducting Domestic enquiries, questioning.</p>

          <p> And defending the terminations, Promotions of the employees, workmen, and staffs in the industrial
            establishments and Government service of both State and Central in the Labour Court Labour welfare
            Officer,
            Conciliation meetings convened by the Labour Commissioner, High Court and Industrial and Administrative
            Tribunals.</p>
        </div>
        <div class="tabcontent">
          <h6><b>Legal Documentations</b></h6>

          <hr>
          <p> Tuning to the real estate market strategy entering an agreement for purchase, sale, investment and
            accordingly conveyancing and drafting the suitable documents for lease, renting, mortgage, sale,
            settlement, gifts and power of attorney.</p>

          <p>Construction of Multi-Storied Buildings of commercial and residential character and assisting in the
            marketing of the same and post purchase agreements lease or contract for service apartments etc are
            managed
            effectively.</p>

          <div class="tabcontent">
            <h6><b>Civil Matters</b></h6>
            <hr>
            <p> All Civil Suits pertaining to Partition Suits, Injunction Suits, Money Suits, Specific Performance
              Suits,
              Ejectment Suit, Suits relating to Partnership, Contract, Rent Control Cases, issues relating to
              House-owner
              and Tenant, Fixation of Fair Rent etc.,</p>
          </div>
          <div class="tabcontent">
            <h6><b>We advise on</b></h6>
            <hr>
            <ul style="padding-left:10%;">
              <li> Indian legal adviser for all services in banking laws in India</li>
              <li> DRT and DRAT matters</li>
              <li>Negotiable Instruments Act matters, Cheque bouncing matters</li>
              <li>FEMA compliances</li>
              <li> Bank loan matters</li>
              <li>NBFC compliances</li>
              <li>Asset Management</li>
              <li>Banking Regulation Law</li>
              <li> Bank Merger and Acquisition</li>
              <li>Consortium lending</li>
              <li> Debt securities</li>
              <li>Establishment/Closure of banking office</li>
              <li> Foreign exchange</li>
              <li>Leasing and asset finance</li>
              <li> Loan documentation</li>
              <li>Restructuring and compliances</li>
              <li>Securitization of movable and immovable assets</li>
              <li> Trade finance</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>